.answer {
  box-shadow: 0px 0px 5px 1px var(--box-shadow-light);
  margin: 0 10px 10px 10px;
}

.answer-header {
  display: flex;
  padding: 12px 20px 10px 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  position: relative;
  box-shadow: 1px 8px 15px -10px var(--box-shadow-light);
  background-color: var(--answer-header-bg-color);
}

.answer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.answer__title {
  text-transform: uppercase;
  color: var(--text-color-color-bg);
}

.content__img {
  box-shadow: 1px 8px 15px -10px var(--answer-img-boxshadow);
  border-radius: 2px;
}

.content__text {
  padding: 20px 0 10px 0;
}

.answer--hidden {
  box-shadow: 0px 0px 5px 1px var(--box-shadow-light);
  margin: 0 10px 10px 10px;
  display: none;
}

.card-content__show-answer {
  background-color: var(--buttom-reg-bg-color);
  color: var(--text-color-color-bg);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 40px 20px 40px;
}

.card-content__hide-answer {
  background-color: var(--buttom-spec-bg-color);
  color: var(--text-color-color-bg);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 40px 20px 40px;
}
