.card-content {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.card-content__question {
  padding: 25px;
  font-size: 1.2rem;
}

.card-content__img {
  margin: 0 20px 20px 20px;
  box-shadow: 1px 8px 15px -10px var(--box-shadow-img);
  border-radius: 2px;
}
