.card-header {
    display: flex;
    padding: 12px 20px 10px 20px;
    margin-bottom: 10px;
    justify-content: space-between;
    position: relative;
    box-shadow: 1px 8px 15px -10px #2c75ac;
}

.card-header__title {
    text-transform: uppercase;
}

.card-header__bookmark {
    position: absolute;
    right: 20px;
    top: -10px;
    border-color: #D7F3FF;
    border-width: 20px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;    
    border-bottom-color: green;
    border-bottom-color: transparent;
    background-color: transparent;
}

.card-header__bookmark:active {
    border-color: #DE8BAB;
    border-bottom-color: green;
    border-bottom-color: transparent;
    background-color: transparent;

}
