HTML {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    display: grid;
    grid-template-rows: 80px auto 40px;
    height: 100vh;
}

main {
    overflow: auto;
}

footer {
    background-color: #2c75ac;
    z-index: 10;
}

strong {
    font-weight: 700;
}

.bookmarks__title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 20px 20px 0 20px;
    text-align: center;
}