.about-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  width: 90vw;
  margin: 0 auto 20px auto;
  box-shadow: 0px 2px 5px var(--box-shadow-light);
  color: var(--text-color);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile-header__picture {
  width: 90vw;
  box-shadow: 0px 2px 5px var(--box-shadow-light);
  margin: 10px auto 0 auto;
}

.profile-header__name {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
}

.about-person__title {
  padding: 10px;
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  background-color: var(--buttom-spec-bg-color);
  color: var(--text-color-color-bg);
  box-shadow: 0px 2px 5px var(--box-shadow-light);
}

.about-person__text {
  padding: 5px 10px 10px 10px;
}

.about-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px 10px 10px;
  background-color: var(--tags-bg);
  padding: 10px 0 10px 0;
  border-radius: 5px;
}

.about-tags__item {
  list-style-type: square;
  list-style-position: inside;
  background-color: var(--main-bg-color);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.profile-actions {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
  width: 95%;
}

.profile-actions__edit {
  background-color: var(--button-submit-second-bg-color);
  color: var(--text-color-color-bg);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto 20px auto;
}

.profile-actions__logout {
  background-color: var(--buttom-reg-bg-color);
  color: var(--text-color-color-bg);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto 20px auto;
}

.profile-actions__delete {
  background-color: var(--buttom-spec-bg-color);
  color: var(--text-color-color-bg);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto 20px auto;
}
