.header {
  background-color: var(--top-bottom-bg-color);
  color: var(--text-color-color-bg);
  z-index: 10;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  margin-bottom: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.header__title {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  padding: 10px;
}

#dark-mode {
  margin: 0 10px 0 80px;
  padding: 10px;
  background-color: var(--top-bottom-bg-color);
  border: none;
}

#dark-mode-icon {
  color: var(--text-color-color-bg);
}
