.header {
  background-color: var(--top-bottom-bg-color);
  color: #fff;
  z-index: 10;
}

.header__title {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px var(--box-shadow-normal);
  margin-bottom: 10px;
  height: 80px;
}
