.navbar {
    background-color: #2c75ac;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.navlist {
    text-align: center;
    padding: 10px;    
    box-shadow: 0px -2px 5px #6D98BA;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navlist__item {
    list-style: none;
    overflow-y: auto;
}

.item__link {
    text-decoration: none;
    color: #fff;
}

.item__link--click:active {
    font-size: 1.1rem;
}