.navbar {
  background-color: #2c75ac;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
  box-shadow: 0px -2px 5px #6d98ba;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
}

.item__link {
  text-decoration: none;
  color: #fff;
}

.item__link--click:active {
  font-size: 1.1rem;
}

.item__link-on-page {
  font-size: 1.1rem;
  text-transform: uppercase;
}
